/* src/pages/Home.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading{
    border-radius: 25px;
    background-color: white;
    }
.textdiv{
    border-radius: 25px;
background-color: white;
}
.txt{
    color: black;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('./images/background.jpg'); /* Path to your image */
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the background image */
}

h2 {
  font-size: 36px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;

}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  
}

.btn:hover {
    background-color: #007bff;
    color:white
}
